name: Build OSM Web

on:
  push:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          channel: 'stable'

      - name: Create Web Project Structure
        run: flutter create . --platforms web --org com.example

      - name: Install Packages
        run: flutter pub get

      - name: Build Web
        # ★★★ 請將 /your_repo_name/ 改成您的專案名稱 (前後要有斜線) ★★★
        run: flutter build web --release --base-href "/your_repo_name/"

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./build/web
